$brown: rgb(197, 73, 73);
$yellow: yellow;
$red: red;
$green: green;

@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    padding: 10px;
    color: black;
}

.jumbotron {
    background-color: $brown;
    color: black;
    @include margenes(50px,0px);
}

img{
    height: 50px;
    width: 50px;
}

/* Div hotel Reserva */
.card-hotel {
    flex: 1 200px;
    @include margenes(10px,0px);

}
.btn-reserva {
    width: 100%;
    border-radius: 0;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $brown;
    @include margenes(10px,0px);
}

.footer-address-icon {
    padding: 0 7px 0 0;
}

.tab-content {
    padding-top: 10px;
}